$break_mobile_p: 450px;
$break_mobile_l: 750px;
$break_tablet_l: 1024px;

$page_width: 1200px;

$logoPathPng: url("http://www.xerox.com/assets/images/navigation/headers/xerox_logo_r.png");
$logoPathSvg: url("http://www.xerox.com/assets/images/navigation/headers/xerox_logo_r.svg");

$red: #cf3847;
