$break_tablet: 768px !default;
$break_desktop: 930px !default;

$page_width: 1200px !default;

$logoPathPng: url("images/xerox_logo_r.png") !default;
$logoPathSvg: url("images/xerox_logo_r.svg") !default;

$logoPathWhitePng: url("images/xer_2ln_r_solid_reverse.svg") !default;
$logoPathWhiteSvg: url("images/xer_2ln_r_solid_reverse.svg") !default;

$red: #D92231;
