$break_tablet: 768px !default;
$break_desktop: 930px !default;

$page_width: 1200px !default;

$logoPathPng: url("images/xerox_logo_r.png");
$logoPathSvg: url("images/xerox_logo_r.svg");

$red: #cf3847;
