@charset "UTF-8";
@import "vars";

@import "../modules/_responsive_base";
@import "_lobfooter";

#xrx_bnrv4_footer {
	z-index: 100;

	#xrx_bnrv4_footer_main {
		background-color: #f9f9f9;
	}

	.xrx_bnrv4_footer_position {
		@include xrx_bnrv4_positionit;
		padding: 15px;
	}

	.xrx_bnrv4_logo {
		margin-bottom: 25px;
		height: 31px;
		width: 115px;

		@include missing_feature("svg")
		{
			background-image: url("images/xerox_logo_small.png");
		}
		@include has_feature("elc-no-svg")
		{
			background-image: url("images/xerox_logo_small.png");
		}
		@include has_feature("ie8")
		{
			background-image: url("images/xerox_logo_small.png");
		}
	}

	#xrx_bnr_v3_ftr_links
	{
		@include xrx_bnrv4_inlinelist;

		font-size: 14px;
		margin-bottom: 15px;

		> li {
			@include xrx_bnrv4_list_dividers;
		}
	}

	#xrx_bnr_v3_ftr_copyright {
		font-size: 12px;
	}
}
