@charset "UTF-8";
@import "vars";

@import "../modules/_responsive_base";
@import "_lobfooter";

#xrx_bnrv4_footer {
	z-index: 100;

	#xrx_bnrv4_footer_main {
		background-color: #f9f9f9;
	}

	.xrx_bnrv4_footer_position {
		@include xrx_bnrv4_positionit;
		padding: 15px;
	}

	.xrx_bnrv4_logo {
		margin-bottom: 25px;
		height: 30px;
		width: 115px;
	}

	#xrx_bnr_v3_ftr_links
	{
		@include xrx_bnrv4_inlinelist;

		font-size: 14px;
		margin-bottom: 15px;

		> li {
			position: relative;
			padding: 0 15px;

			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 20%;
				bottom: 20%;
				right: 0;
				width: 1px;
				background-color: #dbdbdb;
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child::after {
				display: none;
			}
		}
	}

	#xrx_bnr_v3_ftr_copyright {
		font-size: 12px;
	}
}
