@charset "UTF-8";
@import "vars";

@import "../modules/helper_mixins";

@import "primary_nav";
@import "secondary_nav";
@import "tertiary_nav";
@import "forms";
@import "search";
@import "../modules/hamburger";
@import "hide_banners";
@import "../vendor/css3-mixins";

#xrx_bnrv4_header
{
	z-index: 4000;
	height: 80px;

	@include respond-min($break_desktop)
	{
		height: 135px;
	}

	.xrx_bnrv4_logo {
		position: absolute;
		background-position: left center;
		top: 18px;
		left: 5px;
		width: 114px;
		height: 30px;

		@include missing_feature("svg")
		{
			background-image: url("images/xerox_logo_big.png");
		}
		@include has_feature("elc-no-svg")
		{
			background-image: url("images/xerox_logo_big.png");
		}
		@include has_feature("ie8")
		{
			background-image: url("images/xerox_logo_big.png");
		}

		@include respond-min($break_tablet)
		{
			width: 142px;
			height: 38px;
			right: auto;
			background-position: left center;
			position: static;
		}
	}

	#xrx_bnrv4_header_floater {
		position: fixed;
		width: 100%;
		height: 80px;
		background-color: rgb(255, 255, 255);
		background-color: rgba(255, 255, 255, .96);
		z-index: 4200;
		@include box-shadow(0px, 4px, 5px, rgba(102,102,102,0));
		@include transition(box-shadow .1s ease-in-out);

		@include has_feature("xrx_bnrv4_header_static")
		{
			position: static;
		}

		@include respond-min($break_tablet)
		{
			height: 80px;
		}

		@include respond-min($break_desktop)
		{
			position: static;
		}

		> div {
			@include xrx_bnrv4_positionit;
			position: relative;

			height: 80px;

			@include respond-min($break_tablet)
			{
				> div.xrx_bnrv4_table {
					display: table;
					width: 100%;
					position: relative;
					top: 18px;
					height: 40px;

					> div {
						display: table-row;

						> div {
							display: table-cell;
							vertical-align: middle;
							padding-right: 0;

							&:first-child {
								padding-left: 30px;
							}

							&:last-child {
								padding-right: 30px;
							}

							&#xrx_bnrv4_header_logocol {
								padding-right: 80px;
							}

							&#xrx_bnrv4_header_searchcol {
								width: 100%;
							}

							&#xrx_bnrv4_header_secondarycol {
								padding-left: 40px;
							}

							&#xrx_bnrv4_header_menucol {
								padding-left: 20px;

								@include respond-min($break_desktop)
								{
									display: none;
									padding-left: 0px;
								}
							}
						}
					}
				}
			}
		}
	}

	#xrx_bnrv4_header_menuchk
	{
		@include checked()
		{
			 ~ #xrx_bnrv4_header_floater {
				box-shadow: none;
				border-bottom: none;
			}
		}
	}

	@include respond-max($break_tablet)
	{
		#xrx_bnrv4_header_searchchk
		{
			@include checked()
			{
				~ #xrx_bnrv4_header_floater {
					box-shadow: none;
					border-bottom: none;
				}
			}
		}
	}

	> input {
		opacity: 0;
		position: fixed;
		left: -5000000px;
	}

	.xrx_bnrv4_menu_btn {
		position: absolute;
		top: 23px;
		right: 5px;
		margin-bottom: 0;

		&:hover {

			&,
			span {
				color: $red;
			}
		}

		> span {
			display: none;
		}

		@include respond-min($break_tablet)
		{
			position: relative;
			top: auto;
			right: auto;
		}

		@include respond-min($break_desktop)
		{
			display: inline-block;
			line-height: 21px;
			white-space: nowrap;

			> span {
				display: inline-block;
				font-size: 18px;
				font-weight: lighter;
				padding-right: 40px;
				border: none !important;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 20%;
				bottom: 20%;
				left: 0;
				width: 1px;
				background-color: #dbdbdb;
				border: none !important;
			}

			@if ($page_width <= 740px) {
				padding-left: 7px;
				margin-left: 7px;
			}
			@else if ($page_width <= 940px) {
				padding-left: 8px;
				margin-left: 8px;
			}
			@else {
				padding-left: 10px;
				margin-left: 10px;
			}

			> .xrx_bnrv4_hamburger_btn {
				position: absolute;
				right: 0;
				top: -1px;
			}
		}
	}

	#xrx_bnrv4_header_nav_primary,
	#xrx_bnrv4_header_nav_secondary,
	#xrx_bnrv4_header_nav_tertiary
	{
		@include xrx_bnrv4_resetlist;

		> li > input {
			display: none;
		}

		li {
			> a,
			> label {
				display: block;

				@include respond-min($break_desktop)
				{
					display: inline-block;
				}

				cursor: pointer;
			}
		}

		@include respond-min($break_desktop)
		{
			@include xrx_bnrv4_inlinelist;

			li {
				border-bottom: none;
				padding: 0;
			}
		}

	}

	#xrx_bnrv4_header_nav
	{
		z-index: 4100;
		position: fixed;
		top: 80px;
		width: 100%;
		bottom: 0;
		overflow: hidden;
		overflow-x: hidden;

		.xrx_bnrv4_logo {
			display: inline-block;
			float: left;
			height: 25px;
			margin: 7px 0;
			width: 0px;
			background-position: left center;
			@include transition(width .25s ease-in-out, border-top-width .25s ease-in-out);
		}

		@include transition(left .25s ease-in-out);

		> input {
			display: none;
		}

		@include respond-max($break_desktop)
		{
			background-color: rgba(235, 235, 235, .98);
			left: 100%;
			border-top: 1px solid #e3e3e3;

			> div {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				bottom: 0;
			}
		}

		@include respond-min($break_tablet)
		{
			top: 80px;
		}

		@include respond-min($break_desktop)
		{
			#xrx_bnrv4_header_nav_primary > li,
			#xrx_bnrv4_header_nav_tertiary > li
			{
				> input
				{
					@include checked()
					{
						~ label
						{
							border-bottom: 5px solid $red;
							display: none;

							&[for='xrx_bnrv4_default'] {
								display: inline-block;
							}
						}

						~ .xrx_bnrv4_header_flyout {
							max-height: 90000px;

							@include has_feature("xrx_abn_header_white")
							{
								border: 1px solid #dbdbdb;
								border-top: 0;
							}
						}
					}
				}

				@include has_feature("xrx-mouse")
				{
					.xrx_bnrv4_header_flyout {
						transition-delay: 250ms;
					}

					&:hover
					{
						> label
						{
							border-bottom: 5px solid $red;
							display: none;
						}
						> label[for='xrx_bnrv4_default'] {
							display: inline-block;
						}

						> .xrx_bnrv4_header_flyout {
							max-height: 90000px;
						}
					}
				}

				@include has_feature("xrx-mouse.xrx_abn_header_white")
				{
					&:hover
					{
						> .xrx_bnrv4_header_flyout
						{
							border: 1px solid #dbdbdb;
							border-top: 0;
						}
					}
				}
			}

			.xrx_bnrv4_header_flyout {
				display: block;
				background-color: #fff;
				left: 0;
				right: 0;
				position: absolute;
				max-height: 0;
				overflow: hidden;
				border: 0px solid #dbdbdb;

				@include has_feature("xrx_abn_header_all_grey")
				{
					background-color: #333;
					border: none;
				}

				@include has_feature("xrx_abn_header_white")
				{
					margin-left: -1px;
					margin-right: -1px;
				}


				> div {
					box-sizing: border-box;
					padding: 30px;
					@include xrx_bnrv4_positionit;

					border: 1px solid #dbdbdb;
					border-width: 0 1px;

					@include has_feature("xrx_abn_header_all_grey")
					{
						border: none;
					}

					@include has_feature("xrx_abn_header_white")
					{
						border: none;
					}
				}

				&,
				a,
				span,
				label[for] {
					color: #333;

					@include has_feature("xrx_abn_header_all_grey")
					{
						color: #fff;
					}
				}

				a,
				label[for] {
					@include has_feature("xrx_abn_header_all_grey")
					{
						&:hover {
							text-decoration: underline;

							&:after {
								text-decoration: none;
							}
						}
					}

					@include has_feature("xrx_abn_header_white")
					{
						&:hover {
							text-decoration: underline;

							&:after {
								text-decoration: none;
							}
						}
					}
				}
			}

			> div {
				background-color: #333;
				position: relative;

				> ul > li {
					&,
					> a,
					> label[for] {
						color: #fff;
					}
				}

				@include has_feature("xrx_abn_header_white")
				{
					background-color: #fff;
					border: 1px solid #dbdbdb;

					> ul > li {
						&,
						> a,
						> label[for] {
							color: #333;
						}
					}
				}

				&:after {
					content: "";
					display: block;
					clear: both;
				}
			}
		}

		@include respond-min($break_desktop)
		{
			position: absolute;
			top: 80px;
			border: none;
			bottom: auto;
			overflow: visible;

			@include has_feature("xrx_bnrv4_fixed_header")
			{
				top: 0;
				position: fixed;

				animation-name: header_slide_in;
				animation-duration: .5s;

				.xrx_bnrv4_logo {
					width: 120px;

					@include transition(none);
				}
			}

			> div {
				@include xrx_bnrv4_positionit;
				padding: 0 30px;
				box-sizing: border-box;
			}
		}

		&:after {
			content: "";
			display: block;
			clear: both;
		}
	}

	#xrx_bnrv4_header_menuchk
	{
		@include checked()
		{
			@include respond-max($break_desktop)
			{
				~ #xrx_bnrv4_header_nav {
					left: 0;
				}
			}

			@include respond-min($break_desktop)
			{
				~ #xrx_bnrv4_header_nav {
					max-height: 100%;
				}
			}
		}
	}

	#xrx_bnr_v4_floating_title {
		display: none;
		font-size: 20px;
		white-space: nowrap;
	}
	#xrx_bnr_v4_floating_content {
		display: none;

		ul {
			@include xrx_bnrv4_inlinelist;

			> li {
				@include xrx_bnrv4_list_dividers("right");

				&,
				> a {
					font-size: 18px;
					font-weight: lighter;
				}

				&.xrx_bnr_v4_floating_nav_active_current {

					&,
					> a {
						color: $red;
					}
				}
			}
		}
	}

	@include respond-min($break_tablet)
	{
		&.xrx_bnr_v4_floating_title_active {
			#xrx_bnr_v4_floating_title {
				display: block;
			}
			.xrx_bnrv4_logo {
				display: none;
			}
		}

		&.xrx_bnr_v4_floating_content_active {
			#xrx_bnr_v4_floating_content {
				display: block;
				white-space: nowrap;
			}
			#xrx_bnrv4_header_search {
				display: none;
			}
		}
	}
}

@keyframes header_slide_in {
  0%   {
		top: -80px;
		position: fixed;
	}
  100% {
		top: 0;
		position: fixed;
	}
}
