@charset "UTF-8";
@import "vars";

@import "../modules/helper_mixins";

@import "primary_nav";
@import "secondary_nav";
@import "tertiary_nav";
@import "insights_selector";
@import "search";
@import "modules/hamburger";

@mixin xrx_bnrv4_flyout_checked_styles
{
	color: $red;
	cursor: default;
	font-weight: bold;
	position: relative;

	~ .xrx_bnrv4_header_flyout {
		display: block;
		position: absolute;
		left: -1px;
		right: -1px;
	}

	&:after {
		content: "";
		display: block;
		background-color: #f1f1f1;
		border-top: 1px solid #dbdbdb;
		border-left: 1px solid #dbdbdb;
		width: 15px;
		height: 15px;
		position: absolute;
		bottom: -22px;
		transform: rotate(45deg) translateX(-20px);
		left: 50%;
		z-index: 1100;
	}
}

#xrx_bnrv4_header
{
	z-index: 1000;
	height: 116px;

	@include respond-min($break_tablet)
	{
		height: 80px;
	}

	.xrx_bnrv4_logo {
		position: absolute;
		background-position: left center;
		top: 27px;
		left: 5px;
		width: 200px;
		height: 50px;

		@include respond-min($break_tablet)
		{
			width: 142px;
			height: 38px;
			top: 21px;
			left: 20px;
			right: auto;
			background-position: left center;
		}
		@include respond-min($break_desktop)
		{
			left: 30px;
		}
	}

	#xrx_bnrv4_header_floater {
		position: fixed;
		width: 100%;
		height: 116px;
		background-color: rgb(255, 255, 255);
		background-color: rgba(255, 255, 255, .96);
		z-index: 1200;
		box-shadow: 0px 4px 5px 0px rgba(102,102,102,0);
		@include transition(box-shadow .1s ease-in-out);

		@include respond-min($break_tablet)
		{
			height: 80px;
		}

		> div {
			@include xrx_bnrv4_positionit;
			position: relative;
		}

		&.xrx_bnrv4_scrolling {
			box-shadow: 0px 4px 5px 0px rgba(102,102,102,0.5);
		}
	}

	#xrx_bnrv4_header_menuchk
	{
		@include checked()
		{
			 ~ #xrx_bnrv4_header_floater {
				box-shadow: none;
			}
		}
	}

	@include respond-max($break_tablet)
	{
		#xrx_bnrv4_header_searchchk
		{
			@include checked()
			{
				~ #xrx_bnrv4_header_floater {
					box-shadow: none;
				}
			}
		}
	}

	> input {
		opacity: 0;
		position: fixed;
		left: -5000000px;
	}

	.xrx_bnrv4_menu_btn {
		position: absolute;
		top: 42px;
		right: 5px;

		@include respond-min($break_tablet)
		{
			top: 29px;
			right: 20px;
		}
		@include respond-min($break_desktop)
		{
			right: 30px;
		}
	}

	#xrx_bnrv4_header_nav_primary,
	#xrx_bnrv4_header_nav_secondary,
	#xrx_bnrv4_header_nav_tertiary
	{
		@include xrx_bnrv4_resetlist;

		> li > input {
			display: none;
		}

		li {
			> a,
			> label {
				display: block;

				@include respond-min($break_desktop)
				{
					display: inline-block;
				}

				cursor: pointer;
			}
		}

		@include respond-min($break_desktop)
		{
			@include xrx_bnrv4_inlinelist;

			li {
				border-bottom: none;
				padding: 0;
			}
		}

	}

	#xrx_bnrv4_header_nav
	{
		z-index: 1100;
		position: fixed;
		top: 116px;
		width: 100%;
		bottom: 0;
		overflow: hidden;
		overflow-x: hidden;

		@include transition(left .25s ease-in-out);

		> input {
			display: none;
		}

		@include respond-max($break_desktop)
		{
			background-color: rgba(235, 235, 235, .98);
			left: 100%;
			border-top: 1px solid #e3e3e3;

			> div {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				bottom: 0;
			}

		}

		@include respond-min($break_desktop)
		{
			input#xrx_bnrv4_default
			{
				@include checked()
				{
					~ div #xrx_bnrv4_header_nav_primary li:first-child > label
					{
						@include xrx_bnrv4_flyout_checked_styles();
					}
				}
			}

			#xrx_bnrv4_header_nav_primary > li > input,
			#xrx_bnrv4_header_nav_secondary > li > input,
			#xrx_bnrv4_header_nav_tertiary > li > input
			{
				@include checked()
				{
					~ label
					{
						@include xrx_bnrv4_flyout_checked_styles();
					}
				}
			}

			&:before {
				content: "";
				background-color: rgba(235, 235, 235, 1);
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				height: 150px;
			}
		}

		@include respond-min($break_tablet)
		{
			top: 80px;
		}

		@include respond-min($break_desktop)
		{
			position: fixed;
			top: 80px;
			max-height: 0;
			border-top: 0px solid #dbdbdb;

			@include transition(max-height .25s ease-in-out, border-top-width .25s ease-in-out);

			> div {
				@include xrx_bnrv4_positionit;
				padding: 0 30px;
				box-sizing: border-box;
			}
		}

		&:after {
			content: "";
			display: block;
			clear: both;
		}
	}

	#xrx_bnrv4_header_menuchk
	{
		@include checked()
		{
			@include respond-max($break_desktop)
			{
				~ #xrx_bnrv4_header_nav {
					left: 0;
				}
			}

			@include respond-min($break_desktop)
			{
				~ #xrx_bnrv4_header_nav {
					max-height: 100%;
					border-top: 1px solid #dbdbdb;
				}
			}
		}
	}

	@include respond-min($break_desktop)
	{
		.xrx_bnrv4_header_flyout {
			min-height: 50px;
			border-bottom: 1px solid #dbdbdb;
			border-top: 1px solid #dbdbdb;
			display: none;
			background-color: #f1f1f1;

			> div {
				box-sizing: border-box;
				padding: 30px;
				@include xrx_bnrv4_positionit;
			}
		}
	}
}

.no-boxshadow #xrx_bnrv4_header
{
	#xrx_bnrv4_header_floater.xrx_bnrv4_scrolling {
		box-shadow: none;
		border-bottom: 1px solid #ebebeb;
	}

	#xrx_bnrv4_header_menuchk
	{
		@include checked()
		{
			~ #xrx_bnrv4_header_floater {
				border-bottom: none;
			}
		}
	}

	@include respond-max($break_tablet)
	{
		#xrx_bnrv4_header_searchchk:checked ~ #xrx_bnrv4_header_floater {
			border-bottom: none;
		}
	}
}
