@charset "UTF-8";

@import "vars";

.xrx_bnrv4_insights {
	select, button {
		box-sizing: border-box;
		display: inline-block;
		border: 1px solid #e3e3e3;
		padding: 5px 10px;
		margin-right: 10px;
		outline: none;
		background-color: #fff;
		border-radius: 0;

		&:focus,
		&:hover {
			border-color: $red;
		}
	}

	select {
		width: 200px;

		&:focus {
			border-color: $red;
		}

		@include respond-max($break_desktop)
		{
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}
	}

	button {
		&:after {
			content: " >";
			display: inline-block;
			color: $red;
			font-size: 115%;
			margin-left: 10px;
		}
	}
}
