@charset "UTF-8";
@import "vars";

@import "../modules/_responsive_base";

@import "../modules/social-feed";

#xrx_bnrv4_lobfooter
{
	@if ($page_width <= 740px) {
		font-size: 14px;
	}
	@else if ($page_width <= 940px) {
		font-size: 15px;
	}
	@else {
		font-size: 16px;
	}

	margin-bottom: 20px;
	font-weight: lighter;

	.xrx_bnrv4_lobfooter_title {
		@if ($page_width <= 740px) {
			font-size: 20px;
		}
		@else if ($page_width <= 940px) {
			font-size: 24px;
		}
		@else {
			font-size: 28px;
		}

		margin-bottom: 10px;
		font-weight: lighter;
	}

	.xrx_bnrv4_column {
		input {
			display: none;
		}

		.xrx_bnrv4_column_header {
			font-weight: bold;
			padding: 8px 0;

			&,
			> span {
				@if ($page_width <= 740px) {
					font-size: 16px;
				}
				@else if ($page_width <= 940px) {
					font-size: 18px;
				}
				@else {
					font-size: 20px;
				}

				font-weight: bold;
			}

			> label {
				display: none;
			}
		}

		ul {
			@include xrx_bnrv4_resetlist;

			> li {
				padding: 8px 0;

				&,
				> a,
				> span {
					@if ($page_width <= 740px) {
						font-size: 16px;
					}
					@else if ($page_width <= 940px) {
						font-size: 18px;
					}
					@else {
						font-size: 20px;
					}

					font-weight: lighter;
				}
			}
		}
	}
}
