@charset "UTF-8";
@import "vars";

@media print
{
	#xrx_bnrv4_header_nav,
	#xrx_bnrv4_header_nav_primary,
	#xrx_bnrv4_header_nav_secondary,
	#xrx_bnrv4_header_nav_tertiary,
	#xrx_bnrv4_header_nav_tertiary_mobile,
	#xrx_bnrv4_menu_openbtn,
	#xrx_bnrv4_menu_defaultbtn,
	#xrx_bnrv4_header_search,
	#xrx_bnrv4_menu_search_default_btn,
	#xrx_bnrv4_menu_search_btn,
	#xrx_bnrv4_lobfooter
	{
		display: none !important;
	}

	#xrx_bnrv4_header_floater {
		position: absolute !important;
		padding: 0 !important;

		&.xrx_bnrv4_scrolling {
			border-bottom: none !important;
			box-shadow: none !important;
		}

		.xrx_bnrv4_table
		{
			display: block !important;

			> div
			{
				display: block !important;

				> div
				{
					padding: 0 !important;
					display: none !important;

					&:first-child {
						padding: 0 !important;
					}

					&#xrx_bnrv4_header_logocol {
						padding: 0 !important;
						display: block !important;
					}
				}
			}
		}
	}

	#xrx_bnr_v4_floating_title {
		display: none;
	}

	.xrx_bnrv4_logo {
		display: block;
		background-image: none !important;;
		max-height: 30px !important;
		position: static !important;

		&:after {
			content: $logoPathSvg !important;
			height: 30px;
			display: block;
		}
	}

	#xrx_bnrv4_header .xrx_bnrv4_logo {
		left: 0 !important;
	}
}
