@charset "UTF-8";
@import "vars";

@import "../modules/_responsive_base";

#xrx_bnrv4_header #xrx_bnrv4_header_nav_primary
{
	&, ul {
		@include xrx_bnrv4_resetlist;
	}

	@include respond-max($break_desktop)
	{
		&
		{
			.xrx_bnrv4_header_flyout
			{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				right: -100%;

				> div > .xrx_bnrv4_table > .xrx_bnrv4_row > .xrx_bnrv4_column
				{
					> ul,
					.xrx_bnrv4_table {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 200%;
						right: -200%;
					}
				}
			}
		}

		li,
		.xrx_bnrv4_column_header,
		.xrx_bnrv4_header_flyout_header,
		.xrx_bnrv4_header_flyout_header_back {
			display: block;
			border-bottom: 1px solid #e3e3e3;

			li {
				background-color: #fff;
			}

			> span {
				display: none;
			}

			> a,
			> label {
				display: block;
				cursor: pointer;
				padding: 10px 20px;

				&::after {
					float: right;
					content: " >";
					color: $red;
					font-size: 115%;

					@include respond-min($break_desktop)
					{
						display: none;
					}
				}
			}
		}
		.xrx_bnrv4_header_flyout_header_back {
			background-color: #fff;
			text-align: center;
			display: block;
			cursor: pointer;
			padding: 10px 20px;

			&::after {
				float: left;
				content: "< ";
				color: $red;
				font-size: 115%;
				margin-right: 20px;

				@include respond-min($break_desktop)
				{
					display: none;
				}
			}
		}
	}

	@include respond-min($break_desktop)
	{
		float: left;
		line-height: 20px;

		> li > a,
		> li > label {
			font-size: 26px;
		}

		.xrx_bnrv4_header_flyout_header {
			font-size: 24px;
			margin-bottom: 20px;
			display: block;
			color: #000;

			> a {
				&::after {
					content: " >";
					color: $red;
					font-size: 90%;
				}
			}
		}
		label.xrx_bnrv4_header_flyout_header_back {
			display: none;
		}

		.xrx_bnrv4_column_header {
			padding-bottom: 5px;
			border-bottom: 1px solid #dbdbdb;
			margin-bottom: 10px;

			&,
			> span,
			> a {
				font-weight: bold;
				font-size: 18px;
				text-decoration: none;
			}

			label {
				display: none;
			}
		}

		li {
			border-bottom: none;
		}

		ul {
			@include xrx_bnrv4_resetlist;
			font-size: 16px;

			> li {
				margin-bottom: 5px;

				> a {
					text-decoration: none;
					padding: 3px 0;
					display: block;
				}
			}
		}

		> li {
			@include xrx_bnrv4_list_dividers;

			> label[for],
			> a {
				padding: 20px 15px;

				&::before {
					top: 35%;
					bottom: 35%;
				}
			}

			&:first-child {

				> label,
				> a {
					padding-left: 0px;
				}
			}
			&:last-child {

				> label,
				> a {
					padding-right: 0px;
				}
			}
		}
	}
}
