@charset "UTF-8";
@import "vars";

@import "../modules/_responsive_base";
@import "../vendor/css3-mixins";

#xrx_bnrv4_header #xrx_bnrv4_header_nav_primary
{
	&, ul {
		@include xrx_bnrv4_resetlist;
	}

	p {
		color: #737373;
	}

	table
	{
		width: 100%;

		tr
		{
			td, th {
				line-height: 20px;
				padding: 3px 0;
				margin-bottom: 5px;

				b {
					color: #737373;
				}
			}
		}
	}

	@include respond-max($break_desktop)
	{
		label ~ a {
			display: none;

			&.xrx_bnrv4_header_flyout_header_all {
				display: block;
			}
		}

		.xrx_bnrv4_column_links {
			a {
				background-color: #fff;
			}
		}

		.xrx_bnrv4_header_flyout_header {
			+ .xrx_bnrv4_header_flyout_content > p:first-child {
				margin-top: 10px;
			}
		}

		.xrx_bnrv4_header_flyout_footer {
			display: none;
		}
	}

	@include respond-min($break_desktop)
	{
		float: left;
		line-height: 20px;

		> li {
			> label {
				color: #fff;
			}
		}

		.xrx_bnrv4_header_flyout_header {
			margin-bottom: 20px;
			display: block;

			&,
			> a,
			> span,
			> label {
				font-size: 18px;
				font-weight: bold;
				line-height: 20px;
			}

			> a {
				&:after {
					color: $red;
					@include xrx_bnrv4_right_arrow();
				}
			}
		}

		label.xrx_bnrv4_header_flyout_header_back,
		a.xrx_bnrv4_header_flyout_header_all {
			display: none;
		}

		.xrx_bnrv4_column_header {
			padding-bottom: 5px;
			border-bottom: 1px solid #dbdbdb;
			margin-bottom: 10px;

			&,
			> span,
			> a {
				font-weight: bold;
				font-size: 16px;
				text-decoration: none;
				color: #737373;
				line-height: 20px;
			}

			> label,
			> a {
				color: #333;

				&:hover {
					color: $red;
				}

				&:after {
					color: $red;
					@include xrx_bnrv4_right_arrow();
				}
			}

			label {
				display: none;
			}
		}

		li {
			border-bottom: none;
		}

		ul {
			@include xrx_bnrv4_resetlist;
			font-size: 15px;

			> li {
				margin-bottom: 5px;

				> a,
				> label {
					text-decoration: none;
					padding: 3px 0;
					display: block;
					font-size: 15px;
					line-height: 20px;
				}
			}
		}

		> li {
			@include xrx_bnrv4_list_dividers(right, 16px);

			> label[for],
			> a {
				border-bottom: 5px solid transparent;
				white-space: no-wrap;
				line-height: 20px;
				font-weight: 300;

				@include transition(font-size .25s ease-in-out, border-top-width .25s ease-in-out,
														padding-top .25s ease-in-out, border-top-width .25s ease-in-out,
														padding-bottom .25s ease-in-out, border-top-width .25s ease-in-out,
														line-height .25s ease-in-out, border-top-width .25s ease-in-out);

				@include has_feature("xrx_bnrv4_fixed_header")
				{
					font-size: 16px;
					padding-top: 13px;
					padding-bottom: 9px;
					line-height: 15px;

					@include transition(none);
				}
			}

			&:last-child {

				> label,
				> a {
					padding-right: 0px;
					margin-right: 0;
				}
			}
		}

		.xrx_bnrv4_header_flyout_footer {
			@include xrx_bnrv4_inlinelist;

			padding: 15px 30px;
			margin-top: 9px;
			background-color: #fff;
			margin: 0 -1px -1px -1px;
			border-top: 1px solid #dbdbdb;

			li {
				@include xrx_bnrv4_list_dividers;

				> a,
				> span {
					padding-right: 18px;
					margin-right: 18px;
					color: #333;
				}
			}
		}
	}
}
