@charset "UTF-8";
@import "vars";

@import "../modules/_responsive_base";

#xrx_bnrv4_header #xrx_bnrv4_header_nav_primary
{
	&, ul {
		@include xrx_bnrv4_resetlist;
	}

	.xrx_bnrv4_column > input {
		display: none;
	}

	@include respond-max($break_desktop)
	{
		&
		{
			input:checked ~ .xrx_bnrv4_header_flyout {
				left: 0;
			}
			.xrx_bnrv4_header_flyout
			{
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				width: 100%;
				background-color: rgba(235, 235, 235, .98);

				@include transition(left .25s ease-in-out);

				p,
				form {
					padding-left: 20px;
					padding-right: 20px;
				}

				.xrx_bnrv4_column {

					input:checked ~ .xrx_bnrv4_column_links {
						left: 0;
					}
					.xrx_bnrv4_column_links
					{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 100%;
						width: 100%;
						background-color: rgba(235, 235, 235, .98);

						@include transition(left .25s ease-in-out);
					}
				}
			}
		}

		li,
		.xrx_bnrv4_column_header,
		.xrx_bnrv4_header_flyout_header,
		.xrx_bnrv4_header_flyout_header_back {
			display: block;
			border-bottom: 1px solid #e3e3e3;

			li {
				background-color: #fff;
			}

			> span {
				display: none;
			}

			> a,
			> label {
				display: block;
				cursor: pointer;
				padding: 10px 20px;

				&::after {
					float: right;
					color: $red;

					@include xrx_bnrv4_right_arrow();
				}
			}

			label ~ a {
				display: none;
			}
		}
		.xrx_bnrv4_header_flyout_header_back {
			background-color: #fff;
			text-align: center;
			display: block;
			cursor: pointer;
			padding: 10px 20px;

			&::after {
				float: left;
				color: $red;

				@include xrx_bnrv4_left_arrow();

				@include respond-min($break_desktop)
				{
					display: none;
				}
			}
		}
		.xrx_bnrv4_header_flyout_footer {
			display: none;
		}
	}

	@include respond-min($break_desktop)
	{
		float: left;
		line-height: 20px;

		> li > a,
		> li > label {
			font-size: 26px;
		}

		.xrx_bnrv4_header_flyout_header {
			font-size: 24px;
			margin-bottom: 20px;
			display: block;
			color: #000;

			> a {
				&::after {
					color: $red;
					@include xrx_bnrv4_right_arrow();
				}
			}
		}

		label.xrx_bnrv4_header_flyout_header_back {
			display: none;
		}

		.xrx_bnrv4_column_header {
			padding-bottom: 5px;
			border-bottom: 1px solid #dbdbdb;
			margin-bottom: 10px;
			font-weight: normal;

			&,
			> span,
			> a {
				font-weight: bold;
				font-size: 18px;
				text-decoration: none;
				color: #666;
			}

			> label,
			> a {
				color: #333;

				&::after {
					color: $red;
					@include xrx_bnrv4_right_arrow();
				}
			}

			label {
				display: none;
			}
		}

		li {
			border-bottom: none;
		}

		ul {
			@include xrx_bnrv4_resetlist;
			font-size: 16px;

			> li {
				margin-bottom: 5px;

				> a {
					text-decoration: none;
					padding: 3px 0;
					display: block;
				}
			}
		}

		> li {
			@include xrx_bnrv4_list_dividers;

			> label[for],
			> a {
				padding: 20px 15px 20px 0;
				margin-right: 15px;

				&::before {
					top: 35%;
					bottom: 35%;
				}
			}

			&:last-child {

				> label,
				> a {
					padding-right: 0px;
					margin-right: 0;
				}
			}
		}

		.xrx_bnrv4_header_flyout_footer {
			@include xrx_bnrv4_inlinelist;

			position: relative;
			top: 10px;
			border-top: 1px solid #dbdbdb;
			padding-top: 20px;
			margin-top: 10px;

			li {
				@include xrx_bnrv4_list_dividers;
			}
		}
	}
}
