@charset "UTF-8";
@import "vars";

@import "../modules/_responsive_base";

#xrx_bnrv4_header #xrx_bnrv4_header_nav_secondary
{
	li {
		display: block;
		border-bottom: 1px solid #e3e3e3;
		padding: 10px 20px;
	}

	a#xrx_bnrv4_header_country_selector {
		background-image: url("../images/maplocator.svg");
		background-repeat: no-repeat;
	}

	@include respond-max($break_desktop)
	{
		a#xrx_bnrv4_header_country_selector {
			background-size: auto 90%;
			background-position: right 20px center;
			padding-right: 90px;
			height: 40px;
		}
	}

	@include respond-min($break_desktop)
	{
		float: right;
		line-height: 20px;

		a#xrx_bnrv4_header_country_selector {
			padding-left: 70px;
			background-size: auto 50%;
			background-position: left center;
		}

		> li {
			@include xrx_bnrv4_list_dividers;

			> label[for],
			> a {
				font-size: 17px;
				padding: 20px 15px 20px 0;


				&::before {
					top: 35%;
					bottom: 35%;
				}
			}

			&:last-child {

				> label,
				> a {
					padding-right: 0px;
					margin-right: 0;
				}
			}
		}
	}
}
