@charset "UTF-8";
@import "vars";

@import "modules/_responsive_base";
@import "modules/helper_mixins";

#xrx_bnrv4_header
{
	#xrx_bnrv4_header_nav_secondary_mobile
	{
		#xrx_bnrv4_header_country_selector {
			background-image: url("images/maplocator.svg");
			background-repeat: no-repeat;
			background-size: auto 70%;
			background-position: right 20px center;
			padding-right: 90px;
			height: 40px;

			> * {
				display: inline;
			}
		}

		&, ul {
			@include xrx_bnrv4_resetlist;
		}

		input {
			display: none;
		}

		input
		{
			@include checked()
			{
				~ .xrx_bnrv4_header_flyout {
					left: 0;
				}
			}
		}

		.xrx_bnrv4_header_flyout
		{
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 100%;
			width: 100%;
			background-color: rgba(235, 235, 235, .98);

			@include transition(left .25s ease-in-out);

			p,
			form {
				padding-left: 20px;
				padding-right: 20px;
			}

			.xrx_bnrv4_column {

				input:checked ~ .xrx_bnrv4_column_links,
				input.checked ~ .xrx_bnrv4_column_links {
					left: 0;
				}
				.xrx_bnrv4_column_links
				{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 100%;
					width: 100%;
					background-color: rgba(235, 235, 235, .98);

					@include transition(left .25s ease-in-out);
				}
			}
		}

		a,
		label {
			display: block;
			border-bottom: 1px solid #e3e3e3;
			display: block;
			cursor: pointer;
			padding: 10px 20px;
			margin: 0;

			+ span {
				display: none;
			}
		}

		label:after {
			float: right;
			color: $red;
		}

		.xrx_bnrv4_header_flyout_header_back {
			text-align: center;
			background-color: #fff;

			&:after {
				float: left;
				color: $red;

				@include xrx_bnrv4_left_arrow();

				@include respond-min($break_desktop)
				{
					display: none;
				}
			}
		}

		@include respond-min($break_tablet)
		{
			display: none;
		}
	}

	#xrx_bnrv4_header_nav_secondary
	{
		display: none;

		#xrx_bnrv4_header_secondary_log-out {
			display: none;
		}

		@include respond-min($break_tablet)
		{
			@include xrx_bnrv4_inlinelist;
			display: block;
			font-size: 18px;
			font-weight: lighter;
			z-index: 4100;
			text-align: right;
			position: relative;
			white-space: nowrap;

			> li {
				@include xrx_bnrv4_list_dividers("left");

				display: inline-block;
				padding: 0;
				border-bottom: none;
				text-align: left;

				&#xrx_bnrv4_header_contact .xrx_bnrv4_header_flyout ul li:first-child {
					label, a {
						font-weight: bold;
					}
				}

				> label[for],
				> a {
					font-size: 18px;
					font-weight: lighter;
					white-space: no-wrap;
				}
			}
		}
	}
}
