@charset "UTF-8";
@import "vars";

@import "../modules/_responsive_base";

#xrx_bnrv4_header #xrx_bnrv4_header_nav_tertiary
{
	@include xrx_bnrv4_inlinelist;

	position: absolute;
	display: none;

	li {
		display: block;
		border-bottom: 1px solid #e3e3e3;
		padding: 10px 20px;
	}

	@include respond-min($break_tablet)
	{
		display: block;
		top: 27px;
		right: 80px;

		li {
			@include xrx_bnrv4_list_dividers;

			display: inline-block;
			padding: 0;
			border-bottom: none;

			.xrx_bnrv4_header_defaultlbl {
				display: none;
			}

			> input {
				display: none;

				&:checked {
					~ .xrx_bnrv4_header_flyout {
						display: block;
					}

					~ .xrx_bnrv4_header_defaultlbl {
						display: inline-block;

						~ label {
							display: none;
						}
					}
				}
			}

			.xrx_bnrv4_header_flyout {
				display: none;
				position: absolute;
				left: 0;
				top: 30px;
				border: 1px solid #e3e3e3;
				padding: 20px;
				max-width: 200px;
			}
		}
	}

	@include respond-min($break_desktop)
	{
		right: 80px;
		top: 35px;
	}

	> li {
		cursor: pointer;

		> a,
		> label[for]
		{
			&::after {
				content: "˅";
				display: inline-block;
				margin-left: 10px;
				position: relative;
				top: 1px;
			}
		}
	}
}
