<div class="xrx_bnrv4_column">
	{{> includes/partials/column_header }}

	<div class="xrx_bnrv4_column_links">

		{{> includes/partials/column_header_top }}

		{{#if links.[12]}}
			<div class="xrx_bnrv4_table">
				<div class="xrx_bnrv4_row">
					<div class="xrx_bnrv4_column">
						<ul>
							{{#with links.[0]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[1]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[2]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[3]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[4]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[5]}}
								{{> includes/partials/list_item }}
							{{/with}}
						</ul>
					</div>
					<div class="xrx_bnrv4_column">
						<ul>
							{{#with links.[6]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[7]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[8]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[9]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[0]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[11]}}
								{{> includes/partials/list_item }}
							{{/with}}
						</ul>
					</div>
					<div class="xrx_bnrv4_column">
						<ul>
							{{#with links.[12]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[13]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[14]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[15]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[16]}}
								{{> includes/partials/list_item }}
							{{/with}}
							{{#with links.[17]}}
								{{> includes/partials/list_item }}
							{{/with}}
						</ul>
					</div>
				</div>
			</div>
		{{else}}
			{{#if links.[10]}}

				<div class="xrx_bnrv4_table">
					<div class="xrx_bnrv4_row">
						<div class="xrx_bnrv4_column">
							<ul>
								{{#with links.[0]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[1]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[2]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[3]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[4]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[5]}}
									{{> includes/partials/list_item }}
								{{/with}}
							</ul>
						</div>
						<div class="xrx_bnrv4_column">
							<ul>
								{{#with links.[6]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[7]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[8]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[9]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[10]}}
									{{> includes/partials/list_item }}
								{{/with}}
								{{#with links.[11]}}
									{{> includes/partials/list_item }}
								{{/with}}
							</ul>
						</div>
					</div>
				</div>
			{{else}}
				{{> includes/partials/list}}
			{{/if}}
		{{/if}}
	</div>
</div>
