{{#with about}}
	<li>
		<input type="radio" name="xrx_bnrv4_header_nav_primary" value="xrx_bnrv4_about" id="xrx_bnrv4_about" autocomplete="off" aria-hidden="true" />

		<label for="xrx_bnrv4_default" name="&amp;lid=hdr-bar-about-close">{{label}}</label>
		<label for="xrx_bnrv4_about" name="&amp;lid=hdr-bar-about" role="tab" aria-controls="xrx_bnrv4_header_flyout_about">{{label}}</label>

		<div class="xrx_bnrv4_header_flyout" id="xrx_bnrv4_header_flyout_about" role="tabpanel">
			<div>
				{{> includes/partials/flyout_header}}

				<div class="xrx_bnrv4_table xrx_bnrv4_header_flyout_content">
					<div class="xrx_bnrv4_row">
						{{#with col1}}
							{{> includes/partials/column_links_auto}}
						{{/with}}
						{{#with col2}}
							{{> includes/partials/column_links_auto}}
						{{/with}}
						{{#with col3}}
							{{> includes/partials/column_links_auto}}
						{{/with}}
					</div>
				</div>
			</div>

			{{> includes/partials/flyout_footer}}
		</div>
	</li>
{{/with}}
