{{#about}}
	<li>
		<input type="radio" name="xrx_bnrv4_header_nav_primary" value="xrx_bnrv4_about" id="xrx_bnrv4_about" />
		<label for="xrx_bnrv4_about" name="&amp;lid=hdr-about-open">{{label}}</label>

		<div class="xrx_bnrv4_header_flyout">
			<div>
				{{> ./mustachePartials/flyout_header}}

				<div class="xrx_bnrv4_table xrx_bnrv4_header_flyout_content">
					<div class="xrx_bnrv4_row">
						{{#col1}}
							{{> ./mustachePartials/column_links_short}}
						{{/col1}}
						{{#col2}}
							{{> ./mustachePartials/column_links_short}}
						{{/col2}}
						{{#col3}}
							{{> ./mustachePartials/column_links_short}}
						{{/col3}}
					</div>
				</div>

				{{> ./mustachePartials/flyout_footer}}
			</div>
		</div>
	</li>
{{/about}}
