{{#insights}}
	<li>
		<input type="radio" name="xrx_bnrv4_header_nav_primary" value="xrx_bnrv4_insights" id="xrx_bnrv4_insights" />
		<label for="xrx_bnrv4_insights" name="&amp;lid=hdr-insights-open">{{label}}</label>

		<div class="xrx_bnrv4_header_flyout">
			<div>
				{{> ./mustachePartials/flyout_header}}

				<div class="xrx_bnrv4_header_flyout_content">
					<p>{{blurb}}</p>

					<form method="get" action="#" class="xrx_bnrv4_insights">
						{{#category}}
							{{> ./mustachePartials/select_box}}
						{{/category}}
						{{#type}}
							{{> ./mustachePartials/select_box}}
						{{/type}}
						{{#mostRecent}}
							{{> ./mustachePartials/select_box}}
						{{/mostRecent}}

						<button type="submit">{{submit}}</button>
					</form>
				</div>

				{{> ./mustachePartials/flyout_footer}}
			</div>
		</div>
	</li>
{{/insights}}
