{{#insights}}
	<li>
		<input type="radio" name="xrx_bnrv4_header_nav_primary" value="xrx_bnrv4_insights" id="xrx_bnrv4_insights" />
		<label for="xrx_bnrv4_insights">{{label}}</label>

		<div class="xrx_bnrv4_header_flyout">

		</div>
	</li>
{{/insights}}
