{{#with insights}}
	<li>
		<input type="radio" name="xrx_bnrv4_header_nav_primary" value="xrx_bnrv4_insights" id="xrx_bnrv4_insights" autocomplete="off" aria-hidden="true" />
		<label for="xrx_bnrv4_insights" name="&amp;lid=hdr-bar-insights" role="tab" aria-controls="xrx_bnrv4_header_flyout_insights">{{label}}</label>

		<div class="xrx_bnrv4_header_flyout" id="xrx_bnrv4_header_flyout_insights" role="tabpanel">
			<div>
				{{> includes/partials/flyout_header}}

				<div class="xrx_bnrv4_header_flyout_content">
					<p>{{blurb}}</p>

					<form method="get" action="#" class="xrx_bnrv4_form">
						{{#with category}}
							{{> includes/partials/select_box}}
						{{/with}}
						{{#with type}}
							{{> includes/partials/select_box}}
						{{/with}}
						{{#with mostRecent}}
							{{> includes/partials/select_box}}
						{{/with}}

						<button type="submit">{{submit}}</button>
					</form>
				</div>

				{{> includes/partials/flyout_footer}}
			</div>
		</div>
	</li>
{{/with}}
