{{#trans.searchBtnTitle}}
	<label id="xrx_bnrv4_menu_search_default_btn" for="xrx_bnrv4_header_defaultchk" title="{{trans.searchBtnTitle}}" class="xrx_bnrv4_header_search_btn">
		{{> mustachePartials/search_icon }}
	</label>
	<label id="xrx_bnrv4_menu_search_btn" for="xrx_bnrv4_header_searchchk" title="{{trans.searchBtnTitle}}" class="xrx_bnrv4_header_search_btn">
		{{> mustachePartials/search_icon }}
	</label>
	<div id="xrx_bnrv4_header_search">
		<input type="textbox" title="Search" placeholder="{{trans.searchPlaceholder}}"></input>
	</div>
{{/trans.searchBtnTitle}}
