{{#services}}

	<li>
		<input type="radio" name="xrx_bnrv4_header_nav_primary" value="xrx_bnrv4_services" id="xrx_bnrv4_services" autocomplete="off" />
		<label for="xrx_bnrv4_services" name="&amp;lid=hdr-bar-services">{{label}}</label>

		<div class="xrx_bnrv4_header_flyout">
			<div>
				{{> ./mustachePartials/flyout_header}}

				<div class="xrx_bnrv4_table xrx_bnrv4_header_flyout_content">
					<div class="xrx_bnrv4_row">
						{{#col1}}
							{{> ./mustachePartials/column_links_tall}}
						{{/col1}}
						{{#col2}}
							{{> ./mustachePartials/column_links_tall}}
						{{/col2}}
						{{#col3}}
							{{> ./mustachePartials/column_links_tall}}
						{{/col3}}
						{{#col4}}
							{{> ./mustachePartials/column_links_tall}}
						{{/col4}}
					</div>
				</div>

				{{> ./mustachePartials/flyout_footer}}
			</div>
		</div>
	</li>
{{/services}}
