{{#services}}
	<li>
		<input type="radio" name="xrx_bnrv4_header_nav_primary" value="xrx_bnrv4_services" id="xrx_bnrv4_services" checked />
		<label for="xrx_bnrv4_services">{{label}}</label>

		<div class="xrx_bnrv4_header_flyout">
			{{#col1}}
				{{> ../includes/mustachePartials/link}}
			{{/col1}}
		</div>
	</li>
{{/services}}
