{{#share}}
	<li id="xrx_bnrv4_header_share">
		<input type="radio" name="xrx_bnrv4_header_nav_primary" value="xrx_bnrv4_header_sharechk" id="xrx_bnrv4_header_sharechk" autocomplete="off" aria-hidden="true" />
		<label for="xrx_bnrv4_default" class="xrx_bnrv4_header_defaultlbl" name="&amp;lid=hdr-pre-int-share-close">{{label}}</label>
		<label for="xrx_bnrv4_header_sharechk" name="&amp;lid=hdr-pre-int-share" aria-haspopup="true">{{label}}</label>

		<div class="xrx_bnrv4_header_flyout" aria-label="submenu">
			<div>
					<label for="xrx_bnrv4_default" class="xrx_bnrv4_header_defaultlbl" name="&amp;lid=hdr-pre-int-share-close">✖</label>
					<label for="xrx_bnrv4_default" class="xrx_bnrv4_header_flyoutlbl" name="&amp;lid=hdr-pre-int-contact-us-close">{{label}}</label>

					{{> includes/share_content }}
			</div>
		</div>
	</li>
{{/share}}
