{{#share}}
	{{#links.length}}
		<li id="xrx_bnrv4_header_share_mobile">
			<input type="radio" name="xrx_bnrv4_header_nav_primary" value="xrx_bnrv4_share_mobile" id="xrx_bnrv4_share_mobile" autocomplete="off" />
			<label for="xrx_bnrv4_share_mobile" name="&amp;lid=hdr-pre-int-share">{{label}}</label>

			<div class="xrx_bnrv4_header_flyout">
				{{#label}}
					<label class="xrx_bnrv4_header_flyout_header_back" for="xrx_bnrv4_default" name="&amp;lid=hdr-pre-int-share-close">{{label}}</label>
				{{/label}}

				{{> share_content }}
			</div>
		</li>
	{{/links.length}}
	{{^links.length}}
		{{#href}}
			<li id="xrx_bnrv4_header_share_mobile">
				{{> ./mustachePartials/link }}
			</li>
		{{/href}}
	{{/links.length}}
{{/share}}
