<p class="xrx_bnrv4_share_module addthis_16x16_style">
	<span>
	    <a class='addthis_button_twitter'></a>
	    <a class='addthis_button_facebook'></a>
	    <a class='addthis_button_linkedin'></a>
	    <a class='addthis_button_email'></a>
	    <a class='addthis_button_print'></a>
	    <a class='addthis_button_compact'></a>
	</span>
</p>
