<!DOCTYPE html>
<html>
	<head>
		{{> mustachePartials/pageHead }}

		{{> ../parts/head_section.1200px.responsive}}

		<meta id="xerox-data" name="xerox-data" data-XOGlang="en_GB" data-mode="home" data-cache="miss" data-LOB="CORP" data-tier="dev" data-assets_server="//psgdev.opbu.xerox.com" data-lob_server="http://dev.xerox.co.uk" data-mega_region="Europe" data-country="United Kingdom" data-stored_country="UK" data-language="en-gb" data-iso2="GB" data-iso3="GBR" />

	</head>
	<body class="xrx_bnr_handle_jump_link">
		{{> ../parts/header}}

		<div id="xrx_bnrv4_content">

			<h1 id="link1">Jump link test page</h1>

			<p>xrx_bnr jump link handling will not occur unless the class "xrx_bnr_handle_jump_link" is specified on the link or any parent.</p>

			<p><a href="#link3">link4 <span>SPAN!</span></a></p>

			{{> mustachePartials/fileList }}

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>

			<h2 id="link2">Character selection</h2>

			<p><a href="#link4">link4</a></p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>

			<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>


			<h2 id="link3">Header Level 2</h2>

			<p><a href="#link1">link4</a></p>

			<ol>
			   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			   <li>Aliquam tincidunt mauris eu risus.</li>
			</ol>

			<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>


			<h3 id="link4">Header Level 3</h3>

			<p><a href="#link2">link4</a></p>

			<ul>
			   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			   <li>Aliquam tincidunt mauris eu risus.</li>
			</ul>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>


			<pre><code>
			#header h1 a {
				display: block;
				width: 300px;
				height: 80px;
			}
			</code></pre>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed libero lobortis, cursus justo sed, convallis sem. Suspendisse sit amet dapibus metus, sit amet hendrerit mauris. Curabitur dignissim posuere tristique. Pellentesque dignissim commodo odio, consequat ultricies turpis scelerisque ut. Aenean posuere purus nec cursus egestas. Nunc mollis nisi vel dui tristique, vel ullamcorper lectus consectetur. Sed malesuada sapien felis, sit amet tincidunt diam porttitor sed. Fusce consectetur sapien libero, porttitor lobortis arcu fermentum nec. Quisque ullamcorper facilisis imperdiet. Fusce consectetur non sapien non malesuada. Nulla ultrices nisl mauris, vel aliquet augue luctus eu. Curabitur porttitor molestie molestie.</p>


		</div>

		{{> ../parts/footer}}
	</body>
</html>
