<!DOCTYPE html>
<html>
	<head>
		{{> mock_pages/partials/pageHead }}

		{{> parts/head_section.1200px.responsive}}

		<meta id="xerox-data" name="xerox-data" data-XOGlang="{{@root.XOGLang}}" data-mode="home" data-cache="miss" data-LOB="CORP" data-tier="dev" data-assets_server="//psgdev.opbu.xerox.com" data-lob_server="http://dev.xerox.co.uk" data-mega_region="Europe" data-country="United Kingdom" data-stored_country="UK" data-language="{{@root.XOGLang}}" data-iso2="GB" data-iso3="GBR" />

	</head>
	<body class="xrx_bnr_handle_jump_link xrx_locale_{{@root.XOGLang}}">
		{{> parts/header}}

		<div id="xrx_bnrv4_content">

			<h1>There should be a connect module under here</h1>

			<div class="xrx_social_feed" data-count="15" data-handles="tw:XeroxCorp,li:Xerox,fb:Xerox">
			</div>

		</div>

		{{> mock_pages/partials/jQuery}}

		{{> parts/footer.psg}}
	</body>
</html>
