<!DOCTYPE html>
<html>
	<head>
		{{> ../includes/mustachePartials/head_section}}
	</head>
	<body>
		{{> ../includes/mustachePartials/header}}

		{{> ../includes/mustachePartials/index}}

		{{> ../includes/mustachePartials/footer}}
	</body>
</html>
