<!DOCTYPE html>
<html>
	<head>
		{{> mock_pages/partials/pageHead }}

		{{> parts/head_section.1200px.responsive}}

		<meta id="xerox-data" name="xerox-data" data-XOGlang="{{@root.XOGLang}}" data-mode="home" data-cache="miss" data-LOB="XOG" data-tier="dev" data-assets_server="//psgdev.opbu.xerox.com" data-lob_server="http://dev.xerox.co.uk" data-mega_region="Europe" data-country="United Kingdom" data-stored_country="UK" data-language="{{@root.XOGLang}}" data-iso2="GB" data-iso3="GBR" />

	</head>
	<body>
		{{> parts/header}}

		<div id="xrx_bnrv4_content">

			<h1>HTML Ipsum Presents</h1>

			{{> mock_pages/partials/fileList }}

			<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

			<h2>Header Level 2</h2>

			<ol>
			   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			   <li>Aliquam tincidunt mauris eu risus.</li>
			</ol>

			<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

			<h3>Header Level 3</h3>

			<ul>
			   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			   <li>Aliquam tincidunt mauris eu risus.</li>
			</ul>

			<pre><code>
			#header h1 a {
				display: block;
				width: 300px;
				height: 80px;
			}
			</code></pre>

		</div>

		{{> mock_pages/partials/jQuery}}

		{{> parts/footer.xog}}
	</body>
</html>
