<!DOCTYPE html>
<html>
	<head>
		{{> mock_pages/partials/pageHead }}

		{{> parts/head_section.1200px.responsive}}

	</head>
	<body class="xrx_bnrv4_header_static">
		<h1>Default</h1>
		<div>
			{{> parts/header}}
		</div>

		<h1>xrx_show_menu_on_hamburger</h1>
		<div class="xrx_show_menu_on_hamburger">
			{{> parts/header}}
		</div>

		<h1>xrx_show_menu_on_hamburger_red</h1>
		<div class="xrx_show_menu_on_hamburger_red">
			{{> parts/header}}
		</div>

		<h1>xrx_show_red_hamburger</h1>
		<div class="xrx_show_red_hamburger">
			{{> parts/header}}
		</div>

		<h1>xrx_show_menu_with_arrow</h1>
		<div class="xrx_show_menu_with_arrow">
			{{> parts/header}}
		</div>

		<h1>xrx_show_menu_with_arrow_red</h1>
		<div class="xrx_show_menu_with_arrow_red">
			{{> parts/header}}
		</div>

	</body>
</html>
