<!DOCTYPE html>
<html>
	<head>
		{{> mock_pages/partials/pageHead }}

		{{> parts/head_section.1200px.responsive}}

		<title>Mock page</title>

	</head>
	<body class="xrx_locale_{{@root.XOGLang}}">
		{{> parts/header}}

		<div id="xrx_bnrv4_content">

			<h1>HTML Ipsum Presents</h1>

			<h2>Header Testing</h2>

			<ul>
				<li><a href="#" data-abn-class-group="xrx_abn_header">Default</a></li>
				<li><a href="#" data-abn-class="white" data-abn-class-group="xrx_abn_header">White version</a></li>
				<li><a href="#" data-abn-class="all_grey" data-abn-class-group="xrx_abn_header">Full grey version</a></li>
			</ul>

			<h2>Character selection</h2>


			<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

			<h2>Header Level 2</h2>

			<ol>
			   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			   <li>Aliquam tincidunt mauris eu risus.</li>
			</ol>

			<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

			<h3>Header Level 3</h3>

			<ul>
			   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			   <li>Aliquam tincidunt mauris eu risus.</li>
			</ul>

			<pre><code>
			#header h1 a {
				display: block;
				width: 300px;
				height: 80px;
			}
			</code></pre>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		{{> parts/footer}}

		<script type="text/javascript">
			(function($) {
				var $html = $("html");

				$(document).on("click", "[data-abn-class-group]", function(e)
				{
					var $t = $(this);

					var group = $t.data("abn-class-group");
					var abnClass = $t.data("abn-class");

					var classes = $html.attr("class").split(" ");

					for(var i = 0; i < classes.length; i++)
					{
						if (classes[i] && classes[i].indexOf(group) == 0)
						{
							$html.removeClass(classes[i]);
						}
					}

					if (abnClass)
					{
						$html.addClass(group + "_" + abnClass);
					}

					e.preventDefault();
				});

			})(window.jQuery);
		</script>
	</body>
</html>
