<div class="xrx_bnrv4_column">
	{{> column_header}}

	<div class="xrx_bnrv4_column_links">
		<label class="xrx_bnrv4_header_flyout_header_back" for="xrx_bnrv4_column_{{id}}">{{label}}</label>

		{{#links.15}}
			<div class="xrx_bnrv4_table">
				<div class="xrx_bnrv4_row">
					<div class="xrx_bnrv4_column">
						<ul>
							{{#links.0}}
								{{> list_item}}
							{{/links.0}}
							{{#links.1}}
								{{> list_item}}
							{{/links.1}}
							{{#links.2}}
								{{> list_item}}
							{{/links.2}}
							{{#links.3}}
								{{> list_item}}
							{{/links.3}}
							{{#links.4}}
								{{> list_item}}
							{{/links.4}}
							{{#links.5}}
								{{> list_item}}
							{{/links.5}}
							{{#links.6}}
								{{> list_item}}
							{{/links.6}}
						</ul>
					</div>
					<div class="xrx_bnrv4_column">
						<ul>
							{{#links.7}}
								{{> list_item}}
							{{/links.7}}
							{{#links.8}}
								{{> list_item}}
							{{/links.8}}
							{{#links.9}}
								{{> list_item}}
							{{/links.9}}
							{{#links.10}}
								{{> list_item}}
							{{/links.10}}
							{{#links.11}}
								{{> list_item}}
							{{/links.11}}
							{{#links.12}}
								{{> list_item}}
							{{/links.12}}
							{{#links.13}}
								{{> list_item}}
							{{/links.13}}
						</ul>
					</div>
					<div class="xrx_bnrv4_column">
						<ul>
							{{#links.14}}
								{{> list_item}}
							{{/links.14}}
							{{#links.15}}
								{{> list_item}}
							{{/links.15}}
							{{#links.16}}
								{{> list_item}}
							{{/links.16}}
							{{#links.17}}
								{{> list_item}}
							{{/links.17}}
							{{#links.18}}
								{{> list_item}}
							{{/links.18}}
							{{#links.19}}
								{{> list_item}}
							{{/links.19}}
							{{#links.20}}
								{{> list_item}}
							{{/links.20}}
							{{#links.21}}
								{{> list_item}}
							{{/links.21}}
						</ul>
					</div>
				</div>
			</div>
		{{/links.15}}
		{{^links.15}}
			{{#links.10}}

				<div class="xrx_bnrv4_table">
					<div class="xrx_bnrv4_row">
						<div class="xrx_bnrv4_column">
							<ul>
								{{#links.0}}
									{{> list_item}}
								{{/links.0}}
								{{#links.1}}
									{{> list_item}}
								{{/links.1}}
								{{#links.2}}
									{{> list_item}}
								{{/links.2}}
								{{#links.3}}
									{{> list_item}}
								{{/links.3}}
								{{#links.4}}
									{{> list_item}}
								{{/links.4}}
								{{#links.5}}
									{{> list_item}}
								{{/links.5}}
							</ul>
						</div>
						<div class="xrx_bnrv4_column">
							<ul>
								{{#links.6}}
									{{> list_item}}
								{{/links.6}}
								{{#links.7}}
									{{> list_item}}
								{{/links.7}}
								{{#links.8}}
									{{> list_item}}
								{{/links.8}}
								{{#links.9}}
									{{> list_item}}
								{{/links.9}}
								{{#links.10}}
									{{> list_item}}
								{{/links.10}}
							</ul>
						</div>
					</div>
				</div>

			{{/links.10}}
			{{^links.10}}
				{{> list}}
			{{/links.10}}
		{{/links.15}}
	</div>
</div>
