<label class="xrx_bnrv4_header_flyout_header_back" for="xrx_bnrv4_column_{{id}}">{{label}}</label>

{{#menuLabel}}
	<a href="{{{href}}}" name="{{{lid}}}" id="{{id}}" class="xrx_bnrv4_header_flyout_header_all" target="{{{target}}}">{{menuLabel}}</a>
{{/menuLabel}}
