{{#label}}
	<label class="xrx_bnrv4_header_flyout_header_back" for="xrx_bnrv4_default" name="{{lid}}">{{label}}</label>
{{/label}}

{{#header}}
	<div class="xrx_bnrv4_header_flyout_header">{{> link}}</div>
{{/header}}
