{{#href}}
	{{#id}}
		<a href="{{{href}}}" name="{{{lid}}}" id="{{id}}">{{label}}</a>
	{{/id}}
	{{^id}}
		<a href="{{{href}}}" name="{{{lid}}}">{{label}}</a>
	{{/id}}
{{/href}}
{{^href}}
	<span>{{label}}</span>
{{/href}}
