{{#href}}
	{{#id}}
		<a href="{{{href}}}" name="{{{lid}}}" id="{{id}}" class="{{{class}}}" target="{{{target}}}">{{{label}}}</a>
	{{/id}}
	{{^id}}
		<a href="{{{href}}}" name="{{{lid}}}" class="{{{class}}}" target="{{{target}}}">{{{label}}}</a>
	{{/id}}
{{/href}}
{{^href}}
	<span class="{{{class}}}">{{{label}}}</span>
{{/href}}
