{{#href}}
	{{#choices}}
		<a href="{{{href}}}" name="{{{lid}}}" class="xrx_bnrv4_header_no_divider">{{label}}</a>
		<span>{{{choices}}}</span>
	{{/choices}}
	{{^choices}}
		<a href="{{{href}}}" name="{{{lid}}}">{{label}}</a>
	{{/choices}}
{{/href}}
{{^href}}
	<span>{{label}}</span>
{{/href}}
