@mixin xrx_bnrv4_positionit
{
	@if $fix-mqs {
		width: $page_width;
	}
	@else {
		max-width: $page_width;
		width: 100%;
	}

	margin: 0 auto;
	display: block;
}

@mixin xrx_bnrv4_resetlist
{
	list-style-type: none;
	padding: 0;
	margin: 0;

	> li {
		margin: 0;
		padding-right: 0;
	}
}

@mixin xrx_bnrv4_inlinelist
{
	@include xrx_bnrv4_resetlist;

	> li {
		display: inline-block;
	}
}

@mixin xrx_bnrv4_list_dividers
{
	> span,
	> label[for],
	> a {
		cursor: pointer;
		text-decoration: none;
		position: relative;
		font-weight: lighter;
		padding-right: 10px;
		margin-right: 10px;
		user-select: none;
		-o-user-select:none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 20%;
			bottom: 20%;
			right: 0;
			width: 1px;
			background-color: #dbdbdb;
		}
	}

	&:first-child {
		> label,
		> a {
			padding-left: 0;
		}
	}

	&:last-child {

		> label,
		> a {
			padding-right: 0;
			margin-right: 0;

			&::before {
				display: none;
			}
		}
	}
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}
