@mixin xrx_bnrv4_positionit
{
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
	display: block;
}

@mixin xrx_bnrv4_resetlist
{
	list-style-type: none;
	padding: 0;
	margin: 0;

	> li {
		margin: 0;
		padding-right: 0;
	}
}

@mixin xrx_bnrv4_inlinelist
{
	@include xrx_bnrv4_resetlist;

	> li {
		display: inline-block;
	}
}

@mixin xrx_bnrv4_list_dividers
{
	> label[for],
	> a {
		display: block;
		cursor: pointer;
		text-decoration: none;
		position: relative;
		font-weight: lighter;
		padding-right: 10px;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 20%;
			bottom: 20%;
			right: 0;
			width: 1px;
			background-color: #dbdbdb;
		}
	}

	&:first-child {
		> label,
		> a {
			padding-left: 0;
		}
	}

	&:last-child {

		> label,
		> a {
			padding-right: 0;

			&::before {
				display: none;
			}
		}
	}
}
