// SOURCE: http://codepen.io/designcouch/pen/Atyop

@import "../vars";

.xrx_bnrv4_menu_btn {
	display: block;
	width: 30px;
	height: 20px;
	position: relative;
	cursor: pointer;

	&:hover span,
	&:active span{
		background-color: $red;
	}

	span {
		display: block;
		position: absolute;
		height: 15%;
		width: 100%;
		background: #999;
		opacity: 1;
		left: 0;

		/*
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: transform .25s ease-in-out, top .25s ease-in-out, left .25s ease-in-out, width .25s ease-in-out;
		-moz-transition: transform .25s ease-in-out, top .25s ease-in-out, left .25s ease-in-out, width .25s ease-in-out;
		-o-transition: transform .25s ease-in-out, top .25s ease-in-out, left .25s ease-in-out, width .25s ease-in-out;
		transition: transform .25s ease-in-out, top .25s ease-in-out, left .25s ease-in-out, width .25s ease-in-out;
		*/

		&.xrx_bnrv4_n1 {
			top: 1px;
		}
		&.xrx_bnrv4_n2,
		&.xrx_bnrv4_n3 {
			top: 50%;
			margin-top: -3%;
		}
		&.xrx_bnrv4_n4 {
			bottom: 0;
		}
	}
}

#xrx_bnrv4_header_menuchk:checked {

	& ~ #xrx_bnrv4_header_floater .xrx_bnrv4_menu_btn
	{
		span {
			&.xrx_bnrv4_n1 {
			  top: 18px;
			  width: 0%;
			  left: 50%;
			}
			&.xrx_bnrv4_n2 {
			  -webkit-transform: rotate(45deg);
			  -moz-transform: rotate(45deg);
			  -o-transform: rotate(45deg);
			  transform: rotate(45deg);
			}
			&.xrx_bnrv4_n3 {
			  -webkit-transform: rotate(-45deg);
			  -moz-transform: rotate(-45deg);
			  -o-transform: rotate(-45deg);
			  transform: rotate(-45deg);
			}
			&.xrx_bnrv4_n4 {
			  top: 18px;
			  width: 0%;
			  left: 50%;
			}
		}

		&#xrx_bnrv4_menu_openbtn {
			position: absolute;
			top: -100000px;
		}
	}

	~ #xrx_bnrv4_header_nav {
		display: block;
	}
}
