@charset "UTF-8";

@import "responsive_base";
@import "helper_mixins";
@import "../vendor/css3-mixins";

// SOURCE: http://codepen.io/designcouch/pen/Atyop
.xrx_bnrv4_hamburger_btn {
	display: inline-block;
	width: 30px;
	height: 20px;
	position: relative;
	cursor: pointer;

	&:hover span,
	&:active span{
		background-color: $red;
	}

	span {
		display: block;
		position: absolute;
		height: 15%;
		width: 100%;
		background: #999;
		opacity: 1;
		left: 0;

		&.xrx_bnrv4_n1 {
			top: 1px;
		}
		&.xrx_bnrv4_n2,
		&.xrx_bnrv4_n3 {
			top: 50%;
			margin-top: -3%;
		}
		&.xrx_bnrv4_n4 {
			bottom: 0;
		}
	}
}

label {
	&:hover,
	&:active
	{
		> .xrx_bnrv4_hamburger_btn span {
			background-color: $red;
		}
	}
}

#xrx_bnrv4_header_menuchk
{
	~ #xrx_bnrv4_header_floater .xrx_bnrv4_menu_btn
	{
		&#xrx_bnrv4_menu_defaultbtn {
			display: none;
		}
	}

	@include checked()
	{
		~ #xrx_bnrv4_header_floater .xrx_bnrv4_menu_btn
		{
			.xrx_bnrv4_hamburger_btn span {
				background-color: $red;
			}

			&#xrx_bnrv4_menu_openbtn {
				display: none;
			}

			&#xrx_bnrv4_menu_defaultbtn {
				display: block;
			}
		}
	}
}

.csstransforms
{
	#xrx_bnrv4_header_menuchk
	{
		@include checked()
		{
			~ #xrx_bnrv4_header_floater .xrx_bnrv4_menu_btn span
			{
				&.xrx_bnrv4_n1 {
				  top: 18px;
				  width: 0%;
				  left: 50%;
				}
				&.xrx_bnrv4_n2 {
				  @include transform(rotate(45deg));
				}
				&.xrx_bnrv4_n3 {
				  @include transform(rotate(-45deg));
				}
				&.xrx_bnrv4_n4 {
				  top: 18px;
				  width: 0%;
				  left: 50%;
				}
			}
		}
	}
}
