@charset "UTF-8";

@import "../vars";
@import "_responsive_base";

//special variables from drupal:
$xerox-c1: #c1c1c1 !default;
$xerox-red: $red;

.xrx_links_social_network
{
	white-space: nowrap;
	margin-bottom: 10px;

	> a {
		display: inline-block;
		margin-right: 15px;

		> img {
			@if ($page_width <= 740px) {
				width: 22px;
			}
			@else if ($page_width <= 940px) {
				width: 26px;
			}
			@else {
				width: 32px;
			}
		}
	}
}

#xrx_bnrv4_lobfooter .xrx_social_feed,
.xrx_social_feed {
	padding: 0 0 10px;

	@include respond-min($break_tablet)
	{
		@if ($page_width <= 740px) {
			max-width: 280px;
		}
		@else if ($page_width <= 940px) {
			max-width: 300px;
		}
		@else {
			max-width: 350px;
		}
	}

	.loading-image {
		max-width: 64px;
		width: 100%;
		margin: 30px auto 0;
	}

	.feed-tweet,
	.feed-linkedin,
	.feed-facebook
	{
		border-top: 1px solid #c1c1c1;
		padding: 15px 0 15px;

		.icon {
			width: 30px;
			float: left;
			display: block;

			svg {
				max-width: 100%;
				max-height: 100%;

				path {
					fill: #c1c1c1;
				}
			}

			span {
				font-size: 30px;
				color: #c1c1c1;
			}
		}
		.text-side {
			margin-left: 45px;
			font-weight: lighter;

			a,
			p {
				font-size: 15px;
				color: $xerox-red;
				line-height: 20px;
			}

			@include respond-min($break_tablet)
			{
				font-size: 14px;
			}
		}
		p {
			margin-bottom: 0;
		}
	}
	.feed-linkedin {
		&:hover {
			text-decoration: none;
		}

		p.li-info {
			color: #333;
			span {
				padding: 0 7px;
			}
		}
	}
	.feed-tweet {
		padding-bottom: 0;
		p {
			color: #333;
			margin-bottom: 0;
			&.account {
				a {
					&:hover {
						span {
							text-decoration: none;
						}
					}

				}
			}
		}
		.twitter-actions {
			margin-top: 10px;
			margin-bottom: 10px;
			a {
				background-image:  url('images/twitter-actions.png');
				display: inline-block;
				width: 16px;
				height: 16px;
				text-indent: -99999px;
				margin-right: 40px;
				&.reply {
					background-position: 0px 0;

					&:hover {
						background-position: -16px 0;
					}
				}
				&.retweet {
					background-position: -81px 0;
					width: 17px;

					&:hover {
						background-position: -100px 0;
					}
				}
				&.favorite {
					margin-right: 0;
					background-position: -32px 0;

					&:hover {
						background-position: -48px 0;
					}
				}
			}
		}
	}
	.feed-facebook {
		.text-side {
			a {
				display: block;
				color: $xerox-red;
				.updated {
					display: block;
				}
			}
		}
	}

}
