<div id="xrx_bnrv4_footer">
	<div id="xrx_bnrv4_footer_main">
		<div class="xrx_bnrv4_footer_position">
			<a class="xrx_bnrv4_logo" href="#" title="{{footer.trans.logoTitle}}"></a>

			<ul id="xrx_bnr_v3_ftr_links">
				{{#footer.footerLinks.links}}
					{{> ../includes/mustachePartials/list_item}}
				{{/footer.footerLinks.links}}
			</ul>

			<p class="xrx_bnr_v3_ftr_copyright">
				{{{footer.copyrightStatement}}}
			</p>
		</div>
	</div>
</div>

<script defer src="js/xrx_bnrv4.js"></script>
