<div id="xrx_bnrv4_footer">
	{{#footer.lobFooter}}
		<div id="xrx_bnrv4_lobfooter" class="xrx_bnrv4_footer_position">
			<div class="xrx_bnrv4_table">
				<div class="xrx_bnrv4_row">
					<div class="xrx_bnrv4_column" id="xrx_bnrv4_footer_linkfarm">
						<div class="xrx_bnrv4_lobfooter_title">{{trans.usefulLinks}}</div>

						<div class="xrx_bnrv4_table">
							<div class="xrx_bnrv4_row">
								{{#psgSales.links.length}}
									{{#psgSales}}
									<div class="xrx_bnrv4_column">
										<div id="xrx_bnrv4_lobfooter_sales">
											{{> column_header }}
											{{> list}}
										</div>
									</div>
									{{/psgSales}}
								{{/psgSales.links.length}}

								<div class="xrx_bnrv4_column">
									{{#psgProducts}}
										<div id="xrx_bnrv4_lobfooter_products">
											{{> column_header}}
											{{> list}}
										</div>
									{{/psgProducts}}
									{{#psgOwners}}
										<div id="xrx_bnrv4_lobfooter_owners">
											{{> column_header}}
											{{> list}}
										</div>
									{{/psgOwners}}
								</div>
								<div class="xrx_bnrv4_column">
									{{#psgHelpfulResources}}
										<div id="xrx_bnrv4_lobfooter_resources">
											{{> column_header}}
											{{> list}}
										</div>
									{{/psgHelpfulResources}}
								</div>
								<div class="xrx_bnrv4_column">
									{{#psgApplications}}
										<div id="xrx_bnrv4_lobfooter_applications">
											{{> column_header}}
											{{> list}}
										</div>
									{{/psgApplications}}
								</div>
							</div>
						</div>

					</div>
					<div class="xrx_bnrv4_column">
						<div class="xrx_bnrv4_lobfooter_title">{{trans.connect}}</div>

						{{> ../includes/connect}}
					</div>
				</div>
			</div>
		</div>
	{{/footer.lobFooter}}

	{{> mustachePartials/footer_main }}
</div>

{{#dataStr}}
	<script type='text/javascript'>
		var xrx_bnrv4_vars = {{{dataStr}}};
	</script>
{{/dataStr}}

<script src="js/libs.js"></script>

<!--[if IE 8]>
	<script defer src="js/xrx_bnrv4.ie8.js"></script>
<![endif]-->
<!--[if gt IE 8]>
	<script defer src="js/xrx_bnrv4.js"></script>
<![endif]-->
<!--[if !IE]> -->
	<script defer src="js/xrx_bnrv4.js"></script>
<!-- <![endif]-->
