<div id="xrx_bnrv4_footer">
	{{> mustachePartials/footer_main }}
</div>

{{#dataStr}}
	<script type='text/javascript'>
		var xrx_bnr_vars = {{{dataStr}}};
	</script>
{{/dataStr}}

<!--[if IE 8]>
	<script defer src="js/xrx_bnrv4.ie8.js"></script>
<![endif]-->
<!--[if gt IE 8]>
	<script defer src="js/xrx_bnrv4.js"></script>
<![endif]-->
<!--[if !IE]> -->
	<script defer src="js/xrx_bnrv4.js"></script>
<!-- <![endif]-->
