<div id="xrx_bnrv4_footer">
	{{#footer.lobFooter}}
		<div id="xrx_bnrv4_lobfooter" class="xrx_bnrv4_footer_position">
			<div class="xrx_bnrv4_table">
				<div class="xrx_bnrv4_row">
					<div class="xrx_bnrv4_column">
						<div class="xrx_bnrv4_lobfooter_title">{{trans.usefulLinks}}</div>

						<div class="xrx_bnrv4_table">
							<div class="xrx_bnrv4_row">
								<div class="xrx_bnrv4_column">
									{{#xogSales}}
										<div id="xrx_bnrv4_lobfooter_sales">
											{{> column_header}}
											{{> list}}
										</div>
									{{/xogSales}}
									{{#xogPurchase}}
										<div id="xrx_bnrv4_lobfooter_purchase">
											{{> column_header}}
											{{> list}}
										</div>
									{{/xogPurchase}}
								</div>
								<div class="xrx_bnrv4_column">
									{{#xogOfficeEquipment}}
										<div id="xrx_bnrv4_lobfooter_equipment">
											{{> column_header}}
											{{> list}}
										</div>
									{{/xogOfficeEquipment}}
									{{#xogOwners}}
										<div id="xrx_bnrv4_lobfooter_owners">
											{{> column_header}}
											{{> list}}
										</div>
									{{/xogOwners}}
								</div>
								<div class="xrx_bnrv4_column">
									{{#xogHelpfulResources}}
										<div id="xrx_bnrv4_lobfooter_resources">
											{{> column_header}}
											{{> list}}
										</div>
									{{/xogHelpfulResources}}
								</div>
							</div>
						</div>

					</div>
					<div class="xrx_bnrv4_column">
						<div class="xrx_bnrv4_lobfooter_title">{{trans.connect}}</div>

						{{> ../includes/connect}}
					</div>
				</div>
			</div>
		</div>
	{{/footer.lobFooter}}

	{{> mustachePartials/footer_main }}
</div>

{{#dataStr}}
	<script type='text/javascript'>
		var xrx_bnrv4_vars = {{{dataStr}}};
	</script>
{{/dataStr}}

<script src="js/libs.js"></script>

<!--[if IE 8]>
	<script defer src="js/xrx_bnrv4.ie8.js"></script>
<![endif]-->
<!--[if gt IE 8]>
	<script defer src="js/xrx_bnrv4.js"></script>
<![endif]-->
<!--[if !IE]> -->
	<script defer src="js/xrx_bnrv4.js"></script>
<!-- <![endif]-->
