<div id="xrx_bnrv4_header">
	<div>
		<input type="checkbox" name="xrx_bnrv4_header_menuchk" id="xrx_bnrv4_header_menuchk"></input>

		<label for="xrx_bnrv4_header_menuchk" id="xrx_bnrv4_header_menubtn" title="Open/Close Menu">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</label>
		<a class="xrx_bnrv4_logo" href="#" title="Xerox.com home"></a>

		<div id="xrx_bnrv4_header_search">
			<input type="textbox" title="Search" placeholder="Search"></input>
		</div>

		<ul id="xrx_bnrv4_header_nav_tertiary">
			<li>Contact</li>
			<li>Share</li>
		</ul>

		<div id="xrx_bnrv4_header_nav">
			<ul id="xrx_bnrv4_header_nav_primary">
				@@include('../includes/services.mustache')
				@@include('../includes/products.mustache')
				@@include('../includes/insights.mustache')
				@@include('../includes/supplies.mustache')
				@@include('../includes/support.mustache')
				@@include('../includes/about.mustache')
			</ul>
			<ul id="xrx_bnrv4_header_nav_secondary">
				<li><a href="#">United States</a></li>
				<li><a href="#">Sign In</a></li>
			</ul>
		</div>
	</div>
</div>
