{{> mustachePartials/head_section_base}}

<!--[if IE 8]>
	<link rel="stylesheet" href="css/xrx_bnrv4.940px.css" type="text/css" />
<![endif]-->
<!--[if gt IE 8]>
	<link rel="stylesheet" href="css/xrx_bnrv4.940px.responsive.css" type="text/css" />
<![endif]-->
<!--[if !IE]> -->
	<link rel="stylesheet" href="css/xrx_bnrv4.940px.responsive.css" type="text/css" />
<!-- <![endif]-->
