{{> mustachePartials/head_section_base}}

<!--[if IE 8]>
	<link rel="stylesheet" href="css/xrx_bnrv4.max.css" />
<![endif]-->
<!--[if gt IE 8]>
	<link rel="stylesheet" href="css/xrx_bnrv4.max.responsive.css" />
<![endif]-->
<!--[if !IE]> -->
	<link rel="stylesheet" href="css/xrx_bnrv4.max.responsive.css" />
<!-- <![endif]-->
